@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
body {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    background-color: rgb(166, 118, 146);
    a {
        color: rgb(243, 180, 191);
    }
    a:hover{
        color: rgb(81, 5, 50);
    }
    hr {
        width: 80%;
        height: 3px;
        border-bottom: 2px solid rgb(79, 63, 73);
    }
    hr.second {
        width: 60%;
        height: 3px;
        border-bottom: 2px solid rgb(79, 63, 73);
    }
    hr.third {
        width: 40%;
        height: 3px;
        border-bottom: 2px solid rgb(79, 63, 73);
    }
    nav {
        background-color: aqua;
        font-weight: bold;
        .justify-content-end {
            height: 4rem;
        }
    }
    header {
        font-style: color white;
        #headerimg {
            width: 95%;
           margin: 0 auto;
        }
        p.lead {
            width: 85%;
        }
        h3 {
            color: white;
            width: 80%;
        }
        img.rounded {
            width: 100%;
            height: 100%;
        }
    }
    h2, h3{
        text-align: center;
    }
    #main {
        margin-top: 10rem;
    }
    #center {
        border: 2px solid white;
    }
    #secondStage {
        border: 2px solid white;
        background-color: rgb(79, 63, 73);
    }
    #secondDiv {}
    #footer {
        font-family: 'Lobster', sans-serif;
        height: 15rem;
        background-color: rgb(194, 133, 173);
        border: 2px solid white;
        ul {
            text-decoration: none;
        }
    }
    #downDiv {
        margin-bottom: 10rem;
        width: 100%;
        background-color: white;
        color: rgb(166, 118, 146);
        img.floralImg {
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    }
    p.lead a {
        
        color: rgb(243, 180, 191);
        margin-left: 30rem;
    }
}

@media (min-width: 576px) {
    body {
        display: block;
        img {
            display: block;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}